# Next.js build and cache
.next/
out/
build/

# Dependencies
node_modules/

# Environment variables (vital for security)
.env
.env.local
.env.production
.env.development
.env.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
.vercel
